<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container py-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 py-4">
            <div th:replace="fragments/accounts-menu.html :: settings-menu(currentMenu='category')"></div>
        </div>

        <div class="col-8">
            <div class="row justify-content-center pt-1 pb-3">
                <div class="col" style="display: flex;">
                    <div>
                        <h1 class="my-4">카테고리 관리</h1>
                    </div>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-dark pull-right ml-auto mr-4 my-4"
                       style="width: 7rem; align-items: end" th:href="@{/new-category}">
                        <p style="margin: 5% 0">추가</p>
                    </a>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-2">네비게이션 이름</th>
                    <th scope="col-2">메인 타이틀</th>
                    <th scope="col-2">url 이름</th>
                    <th scope="col-2">순서</th>
                    <th scope="col-1">수정</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category, index : ${categoryList}">
                    <th th:text="${index.index+1}" scope="row">#</th>
                    <td th:text="${category.name}">name</td>
                    <td th:text="${category.title}">title</td>
                    <td th:text="${category.viewName}">viewName</td>
                    <td th:text="${category.displayOrder}">displayOrder</td>
                    <td>
                        <a th:href="@{'/category/' + ${category.id} + '/edit'}" class="btn btn-light">수정</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>