<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container py-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 py-4">
            <div th:replace="fragments/accounts-menu.html :: settings-menu(currentMenu='my-upload')"></div>
        </div>

    <div class="col-8">
        <h1 class="my-4">게시글 관리</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col-1">#</th>
                <th scope="col-4">제목</th>
                <th scope="col-1">수정</th>
                <th scope="col-1">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post, index : ${postPage}">
                <th th:text="${postPage.getNumber()*postPage.getPageable().getPageSize() + index.index}" scope="row">#</th>
                <td th:text="${post.title}">title</td>
                <td>
                    <a th:href="@{'/post/' + ${post.id} + '/edit'}" class="btn btn-secondary">수정</a>
                </td>
                <td>
                    <a th:href="@{'/post' + ${post.id} + '/remove'}" class="btn btn-secondary">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row mt-5 justify-content-center">
            <div class="col-8 py-4">
                <nav>
                    <ul class="pagination justify-content-center mt-3">
                        <li class="page-item" th:classappend="${!postPage.hasPrevious()}? disabled"}>
                            <a class="page-link" href="#" th:href="@{'/my-upload?page=' + ${postPage.getNumber()-1} + '&sort=' + ${sortProperty} + ',desc'}" aria-label="Previous"
                               tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${i == postPage.getNumber()}? active"
                            th:each="i: ${#numbers.sequence(0, postPage.getTotalPages() - 1)}">
                            <a th:href="@{'/my-upload?page=' + ${i} + '&sort=' + ${sortProperty} + ',desc'}"
                               class="page-link" href="#" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${!postPage.hasNext()}? disabled">
                            <a th:href="@{'/my-upload?page=' + ${postPage.getNumber()+1} + '&sort=' + ${sortProperty} + ',desc'}"
                               class="page-link">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
    </div>


</div>


<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>