<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container py-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <!-- Avatar -->
            <svg th:if="${#strings.isEmpty(member.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${member.nickname}" width="125" height="125"></svg>
            <img th:if="${!#strings.isEmpty(member.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:src="${member.profileImage}"
                 width="125" height="125"/>
            <div class="row">
                사진 업로드
            </div>
        </div>

        <div class="col-8">
            <h1 class="my-4">내 정보</h1>
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">완료</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">

        <div class="col-2 py-4">
            <div th:replace="fragments/account-menu.html :: settings-menu(currentMenu='profile')"></div>
        </div>

        <form class="col-8" th:action="@{/profile}" th:object="${profileForm}" action="#" method="post" novalidate>

            <div class="form-group mb-4">
                <label for="nicknameFormControlInput1">닉네임</label>
                <input type="text" class="form-control" id="nicknameFormControlInput1"  th:field="${member.nickname}" placeholder="닉네임">
            </div>

            <div class="form-group mb-4">
                <label for="staticEmail">이메일</label>
                <input type="text" readonly class="form-control-plaintext col-9 mb-2" id="staticEmail" th:field="${member.email}" value="email@example.com">
                 <p th:if="${!member.emailVerified}">
                    <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                     <a href="#"class="text-danger" th:href="@{'/check-email?email=' + ${member.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                </p>
            </div>

            <div class="form-group mb-4">
                <label for="bioFormControlTextarea1">소개</label>
                <textarea class="form-control" id="bioFormControlTextarea1" th:field="${member.bio}" placeholder="50자 이내로 소개 글을 작성해보세요." rows="3"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-dark pull-right" type="submit" aria-describedby="submitHelp">
                    저장</button>
            </div>
        </form>

    </div>
</div>
<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>