<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: main-nav"></nav>

<div class = "container">
    <div class = "py-5 text-center">
        <p class="lead">TechDot 가입</p>
        <h2>TechDot 서비스를 사용하려면 인증 이메일을 확인하세요.</h2>

        <div>
            <p class="lead" th:text="${email}">example@email.com</p>
            <a class="btn btn-outline-info" th:href="@{/resend-confirm-email}">
                인증 이메일 다시 보내기
            </a>

            <div class = "py-5 text-center" th:if="${error}">
                <div class ="alert alert-danger" role="alert" th:text="${error}"></div>
            </div>

    </div>
</div>




</body>
</html>