<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container py-5">
    <div class="row justify-content-center py-12">
            <!-- Avatar -->
        <div class="col-2">
            <svg th:if="${#strings.isEmpty(profile.profileImage)}" class="j-profile-img img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${#authentication.name}" width="125" height="125"></svg>
            <img th:if="${!#strings.isEmpty(profile.profileImage)}" class="profile-img img-fluid float-left rounded img-thumbnail"
                 th:src="${profile.profileImage}"
                 width="125" height="125"/>
        </div>
        <div class="col-6">
            <h2 th:text="${profile.nickname}"></h2>
            <p class="card-text" style="white-space: pre-line; width: 100%" th:text="${profile.bio}"></p>
            <div th:if="${isOwner}">
                <a class="btn btn-outline-primary  pull-right" href="#" th:href="@{/accounts}">프로필 수정</a>
            </div>
        </div>


    </div>



    <div class="row justify-content-center">
    </div>
</div>
<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>