<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container py-5">

    <div th:replace="fragments/profile-info.html :: profile-info"></div>
    <div class="row justify-content-center py-12">
        <nav th:replace="fragments/profile-menu.html :: profile-menu(profileMenu='likes')"></nav>
    </div>



</div>
<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>