<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container py-5">
    <h2 class="text-center py-5 px-3" > 이미지 업로드 </h2>


    <div class="row justify-content-center py-12">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-header">
                    썸네일 이미지
                </div>
                <div id="current-thumbnail-image" class="mt-3">
                    <img th:if="${#strings.isEmpty(postImageForm.thumbnailImageUrl)}" class="thumbnail-img rounded"
                         src="/images/default_thumbnail.png"
                         width="320" height="192"  alt="name" />
                    <img th:if="${!#strings.isEmpty(postImageForm.thumbnailImageUrl)}" class="thumbnail-img rounded"
                         th:src="'https://s3.ap-northeast-2.amazonaws.com/cdn.techdot.info/static/' + ${postImageForm.thumbnailImageUrl}"
                         width="320" height="192"  alt="name" />
                </div>
                <div id="new-thumbnail-image" class="mt-3"></div>
                <div class="card-body">
                    <div class=" custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail-image-file">
                        <label class="custom-file-label" for="thumbnail-image-file">업로드</label>
                    </div>
                    <div id="new-thumbnail-image-control" class="mt-3">
                        <button type="button" class="btn btn-outline-primary btn-block" id="confirm-button">선택</button>
                        <button type="button" class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                    </div>
                </div>
                <form class="row needs-validation" th:action="@{'/post/'+ ${postId} +'/image-upload'}" th:object="${postImageForm}" method="post" novalidate>
                    <div class="form-group">
                        <input id="input-thumbnailImage-url" type="hidden" th:field="*{thumbnailImageUrl}" class="form-control" />
                    </div>
                    <button type="sumbit" class="btn btn-outline-primary btn-block" id="submit-button" >등록</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
<link href="/node_modules/cropper/dist/cropper.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.js"></script>
<script type="application/javascript" >
    $(function() {
        cropper = '';
        let $resetBtn = $("#reset-button");  // 취소 버튼
        let $confirmBtn = $("#confirm-button");  // 선택 버튼
        let $newThumbnailImage = $("#new-thumbnail-image"); // 새로 선택한 이미지
        let $currentThumbnailImage = $("#current-thumbnail-image"); // 현재 프로필 이미지
        let $resultImage = $("#cropped-new-thumbnail-image");  // 선택한 이미지 자른 부분
        let $thumbnailImage = $("#thumbnailImage"); // 최종 프로필 이미지
        let $inputThumbnailImageUrl = $("#input-thumbnailImage-url"); // 최종 프로필 이미지

        // 버튼 숨기기
        $newThumbnailImage.hide();
        $confirmBtn.hide();
        $resetBtn.hide();

        // 이미지 파일 선택하면 해당 파일 읽어오고 저장하는 로직
        $("#thumbnail-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }

                        let img = document.createElement("img");
                        img.id = 'new-thumbnail';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newThumbnailImage.html(img);
                        $newThumbnailImage.show();
                        $currentThumbnailImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 5/3.15});
                        cropper = $newImage.data('cropper');

                        $confirmBtn.show();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
                console.log(e.target.files[0]);
            }
        });

        // 이미지가 이미 존재하는 경우 덮어씌우기
        var fileName = date()+ '_' + uuidv4() + '.png';
        if('[(${postImageForm.thumbnailImageUrl})]' != null && '[(${postImageForm.thumbnailImageUrl})]' != ''){
            fileName = '[(${postImageForm.thumbnailImageUrl})]';
        }

        // 취소 버튼 로직
        $resetBtn.click(function() {
            $currentThumbnailImage.show();
            $newThumbnailImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $confirmBtn.hide();
            $thumbnailImage.val(''); // 프로필 이미지 비어있게 저장
            $('#thumbnail-image-file').val('');
        });

        // 선택 버튼 로직
        $confirmBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            if (dataUrl.length > 1000 * 1500) {
                alert("이미지 파일이 너무 큽니다. 1500000 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
                return;
            }
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-thumbnail-image";
            newImage.src = dataUrl;
            newImage.width = 320;
            newImage.height = 170;
            $resultImage.html(newImage);

            $newThumbnailImage.html(newImage);
            $confirmBtn.hide();
            $thumbnailImage.val(dataUrl);
            $inputThumbnailImageUrl.val(fileName);
        });

        $("#submit-button").on("click", uploadImage);

        function uploadImage() {
            cropper.getCroppedCanvas().toBlob((blob) => {
                // HTMLCanvasElement를 return 받아서 blob파일로 변환해준다
                const formData = new FormData();
                // 새로운 formData를 생성해서 변경된 cropper image blob파일을 삽입
                formData.append('file', blob, fileName); // 맨 뒤 매개변수는 화질 설정

                $.ajax('/api/image-upload', {
                    method: 'POST',
                    data: formData,
                    async: false,
                    processData : false,	// data 파라미터 강제 string 변환 방지
                    contentType : false,	// application/x-www-form-urlencoded; 방지

                }).done(function (data, status) {
                    console.log(status);
                })
            });
        }

        function date() {
            return Date.now();
        }
        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

    });
</script>

</body>
</html>