<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/accounts} ">내 정보</a>
<!--    TODO: ONLY MANAGER-->
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'my-upload'}? active" href="#" th:href="@{/my-upload} ">게시글 관리</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/accounts/password} ">비밀번호 변경</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'settings'}? active" href="#" th:href="@{/settings}">설정</a>
</div>

</html>