<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="category-menu (categoryMenuName)" class="list-group justify-content-center nav main-right-nav-tabs">
    <a class="list-group-item list-group-item-action main-right-nav-link" href="#"
       th:classappend="${categoryMenuName == 'all'}? 'active active-box'" th:href="@{'/'}">
        New!
    </a>
    <a sec:authorize="isAuthenticated()" class="list-group-item list-group-item-action main-right-nav-link" href="#"
       th:classappend="${categoryMenuName == 'myInterests'}? 'active active-box'" th:href="@{'/me/interests'}">
        관심 카테고리
    </a>

    <a th:each="category : ${categoryList}" class="list-group-item list-group-item-action main-right-nav-link" href="#"
       th:text="${category.name}"
       th:classappend="${categoryMenuName == category.viewName}? 'active active-box'" th:href="@{'/category/' + ${category.viewName}}">
    </a>

</div>
</html>