<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<body th:fragment="main-view (mainMenu, mainMenuName)" class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>

<div class="container" th:id="${mainMenu}">
    <div class="row justify-content-center py-4">
        <div class="col py-4">
            <nav th:replace="fragments/main-view-category-menu.html :: category-menu(categoryMenu = ${mainMenu})"></nav>
        </div>

        <div class="col-sm-10 py-2">
            <div class="row justify-content-center pt-1 pb-3">
                <div class="col" style="display: flex;">
                    <div>
                        <h1 th:text="${mainMenuName}"></h1>
                    </div>
                    <div th:if="${mainMenu}!='All' and ${mainMenu}!='MyInterests'" id="interest-switch" class="custom-control custom-switch ml-auto mr-4" style="display:flex; align-items: center" >
                        <input type="checkbox" class="custom-control-input" th:value="${mainMenu}" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">관심 카테고리</label>
                    </div>
                </div>

            </div>
            <div class="row post-list" id="post-list">

            </div>
            <!-- Pagination List -->
            <ul class="post-list__pagination post-list__pagination--inactive" id="post-list-pagination"
                style="display: none"></ul>
        </div>

    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>

<script type="text/javascript" th:inline="javascript" th:replace="fragments/ajax-csrf-header.html :: ajax-csrf-header" ></script>
<div type="text/javascript" th:inline="javascript" th:replace="fragments/post-factory.html :: post-factory(requestUrl = '/posts/', viewName = ${mainMenu})" ></div>

<script type="application/javascript" th:inline="javascript">
    $(function () {
        const interestButton = $(".custom-control-input");

        function getMemberCategories(){
            $.ajax({
                url : "/interests/me/list",
                type: "GET"
            }).done(function (data, status) {
                for(var i=0; i<data.length; i++){
                    if(data[i].categoryName == '[(${mainMenu})]'){
                        interestButton.attr('checked', true);
                        document.getElementById("interest-switch").classList.add('interest-active');
                    }
                }
            })
        }
        if('[(${#authentication.name})]' != 'anonymousUser') {
            getMemberCategories()
        }

        interestButton.on("click", onClickFunc)
        function onClickFunc(e) {

            const interestSwitch = e.target.parentElement.classList;
            if(interestSwitch.contains("interest-active")){
                interestRequest("remove", e, interestSwitch);
            }else{
                interestRequest("add", e, interestSwitch);
            }
        }

        function interestRequest(action, e, interestSwitch) {
            $.ajax({
                url: "/interest/" + action,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    categoryName: e.target.value
                })
            }).done(function (data, status) {
                // console.log(status);
                if('[(${#authentication.name})]' == 'anonymousUser'){
                    window.location.href = "/login";
                    return;
                }
                if(action==='remove'){
                    interestSwitch.remove('interest-active');
                }else{
                    interestSwitch.add('interest-active');
                }
            })
        }
    })
</script>
</body>
</html>