<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<div th:fragment="post-form (type, requestUrl)" class="container py-5">
    <h2 class="text-center py-5 px-3" th:text="@{'게시글 ' + ${type}}"></h2>

    <div class="row justify-content-center py-12">
        <form class="row needs-validation" th:action="@{${requestUrl}}" th:object="${postForm}" method="post" novalidate>
            <div class="col">
                <div th:replace="fragments/message.html :: message"></div>

                <div class="form-group mb-4">
                    <label for="title">제목</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control"
                           placeholder="제목을 입력하세요" aria-describedby="titleHelp" required max="100">
                    <small class="invalid-feedback">100자 이내로 게시글 제목을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                </div>

                <div class="form-group mb-4">
                    <label for="writer">작성자</label>
                    <input id="writer" type="text" th:field="*{writer}" class="form-control"
                           placeholder="작성자를 입력하세요" aria-describedby="writerHelp" required>
                    <small class="invalid-feedback">작성자를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">Owner Error</small>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="type" style="width: 100%">게시글 타입</label>
                        <select th:if="${type}" id="type" class="form-select mr-sm-2" style="width: 50%" th:field="*{type}" aria-label="post-type-select">
                            <option th:each="postTypeOpt : ${T(com.techdot.techdot.modules.post.PostType).values()}"
                                    th:value="${postTypeOpt}" th:text="${postTypeOpt.getDisplayValue()}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="category" style="width: 100%">카테고리 선택</label>
                        <select id="category" class="form-select" style="width: 50%" th:field="*{categoryName}" aria-label="post-category-select">
                            <option th:each="category : ${categoryList}"
                                    th:selected="${category.viewName} == *{categoryName}"
                                    th:value="${category.viewName}"
                                    th:text="${category.viewName}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="uploadDateTime">게시글 업로드 날짜</label>
                        <input id="uploadDateTime" class="form-control" type="datetime-local" th:field="*{uploadDateTime}"
                                aria-describedby="uploadDateTimeHelp" required>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <input id="curLink" type="hidden" th:field="*{curLink}" class="form-control" />
                    <label for="link">게시글 링크</label>
                    <input id="link" type="text" th:field="*{link}" class="form-control"
                           placeholder="링크를 입력하세요" aria-describedby="linkHelp" required>
                    <small class="invalid-feedback">게시글 링크를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('link')}" th:errors="*{link}">Link Error</small>
                </div>

                <div class="form-group mb-4">
                    <label for="content">게시글 내용</label>
                    <textarea id="content" type="text" th:field="*{content}" class="form-control"
                              placeholder="내용을 입력하세요." aria-describedby="contentHelp" required max="200" rows="3"> </textarea>
                    <small class="invalid-feedback">200자 이내로 게시글 제목을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</small>
                </div>

                <div class="form-group" >
                    <button class="btn btn-dark pull-right" id="btn-save" type="submit" aria-describedby="submitHelp">
                        저장 </button>
                </div>
                <div th:if="${type} == '수정'">
                    <button class="btn btn-danger mr-2 pull-right" type="button" data-toggle="modal" data-target="#postRemove">
                        삭제 </button>
                    <a class="btn btn-info mr-2 pull-left" type="button" th:href="@{'/post/' + ${postId} + '/image-upload'}">
                        이미지 변경하기 </a>
                </div>

            </div>

        </form>
        <!-- Modal -->
        <div class="modal fade" id="postRemove" tabindex="-1" aria-labelledby="postRemoveModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postRemoveModalLabel">정말 삭제하시겠어요?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> 삭제하면 해당 게시글은 추후에 복구할 수 없습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"  data-dismiss="modal">취소</button>
                        <form class="form-inline" action="#" th:action="@{'/post/' + ${postId} + '/remove'}" method="post">
                            <button class="btn btn-danger" type="submit">삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</html>

</html>