<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:inline="javascript" th:fragment="post-factory (requestUrl, viewName)">
    /*<![CDATA[*/
    function getPageId(n) {
        return 'page-' + n;
    }

    function getDocumentHeight() {
        const body = document.body;
        const html = document.documentElement;
        return Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
    }

    function getScrollTop() {
        return window.pageYOffset !== undefined ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    }

    function getPostImage(data) {
        const image = new Image();
        image.className = 'post-list__item__image post-list__item__image--loading';
        if (data.thumbnailImage == null || data.thumbnailImage == '') {
            image.src = '/images/default_thumbnail.png'
        } else {
            image.src = data.thumbnailImage;
        }
        image.onload = function () {
            image.classList.remove('post-list__item__image--loading');
        };
        return image;
    }

    function getCardContent(data) {
        const body = document.createElement('div');
        body.className = 'card-body';
        body.style = 'overflow: hidden; height: 210px';

        const category = document.createElement('span');
        category.className = 'badge badge-light '+ data.categoryName;
        category.textContent = data.categoryName;
        body.appendChild(category)

        const link1 = document.createElement('a');
        link1.href = data.link;
        link1.className = 'text-dark';
        body.appendChild(link1);

        const link2 = document.createElement('a');
        link2.href = data.link;
        link2.className = 'text-dark';
        body.appendChild(link2);

        const title = document.createElement('h5');
        title.className = 'card-title context';
        title.textContent = data.title;
        link1.appendChild(title);

        const content = document.createElement('p');
        content.className = 'card-text';
        content.textContent = data.content;
        link2.appendChild(content);

        const subInfo = document.createElement('div');
        subInfo.className = 'card-sub-info';
        subInfo.style = 'font-size: .75rem; position:absolute; bottom:3.6rem';

        const uploadDateTime = document.createElement('span');
        uploadDateTime.className = 'upload-time'
        uploadDateTime.textContent = data.uploadDateTime;
        subInfo.appendChild(uploadDateTime);
        body.appendChild(subInfo);

        return body;
    }

    function getCardFooter(data) {
        const footer = document.createElement('div');
        footer.className = 'card-footer';

        const writerBody = document.createElement('div');
        writerBody.className = 'd-flex justify-content-between align-items-center';
        footer.appendChild(writerBody);

        const small1 = document.createElement('small');
        small1.className = 'text-muted';
        writerBody.appendChild(small1);

        const icon = document.createElement('i');
        icon.className = 'fa fa-user-circle';
        small1.appendChild(icon);

        const writerText = document.createElement('span');
        writerText.textContent = data.writer;
        small1.appendChild(writerText);

        const small2 = document.createElement('small');
        small2.className = 'text-muted';
        writerBody.appendChild(small2);

        const postType = document.createElement('span');
        postType.className = 'badge badge-pill'
        if (data.type === 'BLOG') {
            postType.className += ' badge-blog'
            postType.textContent = 'Blog';
        }
        if (data.type === 'VIDEO') {
            postType.className += ' badge-video'
            postType.textContent = 'Video';
        }
        small2.appendChild(postType);

        const customLikeBox = document.createElement("custom-like-box");

        const likeInput = document.createElement("input");
        likeInput.type = "checkbox";
        likeInput.className = "like-button";
        likeInput.id = data.postId;
        likeInput.hidden = true;
        likeInput.addEventListener("click", onClickFunc); // like-button event 등록
        customLikeBox.appendChild(likeInput)

        const likeLabel = document.createElement("label");
        likeLabel.setAttribute("for", data.postId);
        likeLabel.style = 'margin-bottom: 0;'
        customLikeBox.appendChild(likeLabel)

        const likes = document.createElement("i");
        if (data.isMemberLike) {
            customLikeBox.className = 'custom-like-box like-active';
            likes.className = "fa fa-heart";
        }else{
            customLikeBox.className = 'custom-like-box';
            likes.className = "fa fa-heart-o";
        }
        likes.setAttribute("aria-hidden", "true")
        likeLabel.appendChild(likes);

        writerBody.appendChild(customLikeBox);
        return footer;
    }

    function getPost(data) {
        const postImage = getPostImage(data);
        const post = document.createElement('div');
        post.className = 'post-list__item card mb shadow-sm';
        post.appendChild(postImage);

        const cardContent = getCardContent(data);
        const cardEnd = getCardFooter(data);

        const link = document.createElement('a');
        link.href = data.link;
        link.className = 'text-dark';
        post.appendChild(link);

        link.appendChild(postImage);
        post.appendChild(cardContent);
        post.appendChild(cardEnd);
        return post;
    }

    function getPostPage(data) {
        const pageElement = document.createElement('div');
        pageElement.className = 'post-list__page col-md-3 py-3';
        pageElement.appendChild(getPost(data));
        return pageElement;
    }

    function addPaginationPage(page) {
        const pageLink = document.createElement('a');
        pageLink.href = '#' + getPageId(page);
        pageLink.innerHTML = page;
        const listItem = document.createElement('li');
        listItem.className = 'post-list__pagination__item';
        listItem.appendChild(pageLink);
        articleListPagination.appendChild(listItem);
        if (page === 2) {
            articleListPagination.classList.remove('post-list__pagination--inactive');
        }
    }

    const postsPerPageSize = 12;
    var flag = true;
    var likeButton = $(".like-button");
    // ajax로 서버에 post 데이터 요청
    function addPage(page) {
        $.ajax({
            type: 'GET',
            url: '[(${requestUrl})]' + '[(${viewName})]',
            async: false,
            data: {
                page: page, // current page
                size: postsPerPageSize, //page size
            },
            dataType: 'json'
        }).done(function (result) {
            // console.log(result);
            if (result.length == 0) {
                flag = false;
                return;
            }

            for (var i = 0; i < result.length; i++) {
                postList.appendChild(getPostPage(result[i]));
            }
            addPaginationPage(page);

            // like-button 갱신
            likeButton = $(".like-button");
        });
    }

    /* * Main */
    const postList = document.getElementById('post-list');
    const container = document.getElementsByClassName('main-view-container');
    const articleListPagination = document.getElementById('post-list-pagination');
    let page = 0; // 초기 페이지 로드

    addPage(++page);
    likeButton = $(".like-button");

    window.onscroll = function () {
        if (!flag || (getScrollTop() < getDocumentHeight() - window.innerHeight - 100)) return; // 스크롤이 페이지 하단에 도달할 경우 새 페이지 로드
        addPage(++page);
    }; /*]]>*/


    /* like button logic */
    function onClickFunc(e) {
        const customLikeBox = e.target.parentElement;
        if (customLikeBox.classList.contains("like-active")) {
            likeRequest("remove", e, customLikeBox);
        } else {
            likeRequest("add", e, customLikeBox);
        }
    }

    function likeRequest(action, e, customLikeBox) {
        $.ajax({
            url: "/like/" + action,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                postId: e.target.id
            })
        }).done(function (data, status) {
            console.log(data);
            console.log(status);
            if('[(${#authentication.name})]' == 'anonymousUser'){
                window.location.href = "/login";
                return;
            }
            customLikeBox.querySelector('i').remove();

            const like = document.createElement('i');
            if(action==='remove'){
                customLikeBox.classList.remove('like-active');
                like.className = 'fa fa-heart-o';
            }else{
                customLikeBox.classList.add('like-active');
                like.className = 'fa fa-heart';
            }
            customLikeBox.children[1].appendChild(like);
        })
    }

</script>
</html>