<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<div th:fragment="post-form (type, requestUrl)" class="container py-5">
    <h2 class="text-center py-5 px-3" th:text="@{'게시글 ' + ${type}}"></h2>

    <div class="row justify-content-center py-12">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-header">
                    썸네일 이미지
                </div>
                <div id="current-thumbnail-image" class="mt-3">
                    <img th:if="${#strings.isEmpty(postForm.thumbnailImage)}" class="thumbnail-img rounded"
                         src="/images/default_thumbnail.png"
                         width="320" height="192"  alt="name" />
                    <img th:if="${!#strings.isEmpty(postForm.thumbnailImage)}" class="thumbnail-img rounded"
                         th:src="${postForm.thumbnailImage}"
                         width="320" height="192"  alt="name" />
                </div>
                <div id="new-thumbnail-image" class="mt-3"></div>
                <div class="card-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail-image-file">
                        <label class="custom-file-label" for="thumbnail-image-file">업로드</label>
                    </div>
                    <div id="new-thumbnail-image-control" class="mt-3">
                        <button class="btn btn-outline-primary btn-block" id="confirm-button">선택</button>
                        <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div th:replace="fragments/message.html :: message"></div>
            <form class="needs-validation" th:action="@{${requestUrl}}" th:object="${postForm}" method="post" novalidate>
                <div class="form-group mb-4">
                    <label for="title">제목</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control"
                           placeholder="제목을 입력하세요" aria-describedby="titleHelp" required max="100">
                    <small class="invalid-feedback">100자 이내로 게시글 제목을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                </div>

                <div class="form-group mb-4">
                    <label for="writer">작성자</label>
                    <input id="writer" type="text" th:field="*{writer}" class="form-control"
                           placeholder="작성자를 입력하세요" aria-describedby="writerHelp" required>
                    <small class="invalid-feedback">작성자를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">Owner Error</small>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="type" style="width: 100%">게시글 타입</label>
                        <select th:if="${type}" id="type" class="form-select mr-sm-2" style="width: 50%" th:field="*{type}" aria-label="post-type-select">
                            <option th:each="postTypeOpt : ${T(com.techdot.techdot.modules.post.PostType).values()}"
                                    th:value="${postTypeOpt}" th:text="${postTypeOpt.getDisplayValue()}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="category" style="width: 100%">게시글 카테고리</label>
                        <select id="category" class="form-select" style="width: 50%" th:field="*{categoryName}" aria-label="post-category-select">
                            <option th:each="category : ${categoryList}"
                                    th:field="*{categoryName}"
                                    th:value="${category.name}" th:text="${category.name}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="uploadDateTime">게시글 업로드 날짜</label>
                        <input id="uploadDateTime" class="form-control" type="datetime-local" th:field="*{uploadDateTime}"
                                aria-describedby="uploadDateTimeHelp" required>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <input id="beforeLink" type="hidden" th:field="*{beforeLink}" class="form-control" />
                    <label for="link">게시글 링크</label>
                    <input id="link" type="text" th:field="*{link}" class="form-control"
                           placeholder="링크를 입력하세요" aria-describedby="linkHelp" required>
                    <small class="invalid-feedback">게시글 링크를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('link')}" th:errors="*{link}">Link Error</small>
                </div>

                <div class="form-group mb-4">
                    <label for="content">게시글 내용</label>
                    <textarea id="content" type="text" th:field="*{content}" class="form-control"
                              placeholder="내용을 입력하세요." aria-describedby="contentHelp" required max="200" rows="3"> </textarea>
                    <small class="invalid-feedback">200자 이내로 게시글 제목을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</small>
                </div>

                <div class="form-group">
                    <input id="thumbnailImage" type="hidden" th:field="*{thumbnailImage}" class="form-control" />
                </div>

                <div class="form-group">
                    <button class="btn btn-dark pull-right" type="submit" aria-describedby="submitHelp">
                        저장</button>
                </div>
            </form>

        </div>

    </div>
</div>


</html>

</html>