<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{'/profile' + ${member.nickname}} ">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'settings'}? active" href="#" th:href="@{/settings}">설정</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'likes'}? active" href="#" th:href="@{/likes}">즐겨찾기</a>
<!--    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'member'}? active" href="#" th:href="@{/settings/account}">계정</a>-->
</div>

</html>