<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments/navbar.html :: main-nav"></nav>

<div class="log-container container py-5">
    <h2 class="text-center pt-5 pb-3">잘못된 요청입니다</h2>
    <div class="row justify-content-center py-2">
        <div th:fragment="message" th:if="${message}" class="alert alert-danger text-center alert-dismissible fade show mt-3" style="width: 50%" role="alert">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
</body>
</html>