<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head th:replace ="fragments/header.html :: head"></head>

<body class="bg-light">
    <nav th:replace="fragments/navbar.html :: auth-nav"></nav>

    <div th:fragment="post-form (type, requestUrl)" class="container py-5">
        <h2 class="text-center py-5 px-3">카테고리 등록하기</h2>

        <div class="row justify-content-center py-12">
            <div class="col-sm-7">
                <div th:replace="fragments/message.html :: message"></div>
                <form class="needs-validation" th:action="@{'/category/'+${categoryId}+'/edit'}" th:object="${categoryForm}" method="post" novalidate>
                    <div class="form-group mb-4">
                        <input id="curName" type="hidden" th:field="*{curName}" class="form-control" />
                        <label for="name">카테고리 display 이름</label>
                        <input id="name" type="text" th:field="*{name}" class="form-control"
                               placeholder="nav에 보여질 이름을 입력하세요" aria-describedby="titleHelp" required max="20">
                        <small class="invalid-feedback">20자 이내로 카테고리 display 이름을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</small>
                    </div>

                    <div class="form-group mb-4">
                        <input id="curViewName" type="hidden" th:field="*{curViewName}" class="form-control" />
                        <label for="viewName">카테고리 view 이름</label>
                        <input id="viewName" type="text" th:field="*{viewName}" class="form-control"
                               placeholder="view 이름을 입력하세요" aria-describedby="titleHelp" required max="20">
                        <small class="invalid-feedback">20자 이내로 카테고리 view 이름을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('viewName')}" th:errors="*{viewName}">name Error</small>
                    </div>

                    <div class="form-group mb-4">
                        <input id="curTitle" type="hidden" th:field="*{curTitle}" class="form-control" />
                        <label for="title">카테고리 타이틀</label>
                        <input id="title" type="text" th:field="*{title}" class="form-control"
                               placeholder="이름을 입력하세요" aria-describedby="titleHelp" required max="20">
                        <small class="invalid-feedback">20자 이내로 카테고리 이름을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-dark pull-right" type="submit" aria-describedby="submitHelp">
                            저장</button>
                    </div>
                </form>

                <button class="btn btn-danger mr-2 pull-right" data-toggle="modal" data-target="#postRemove">
                    삭제 </button>
                <!-- Modal -->
                <div class="modal fade" id="postRemove" tabindex="-1" aria-labelledby="postRemoveModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="postRemoveModalLabel">정말 삭제하시겠어요?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p> 삭제하면 해당 카테고리는 추후에 복구할 수 없습니다.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                <form class="form-inline" action="#" th:action="@{'/category/' + ${categoryId} + '/remove'}" method="post">
                                    <button class="btn btn-danger" type="submit">삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

</html>