<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace ="fragments/header.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>
<div class = "alert alert-warning" role = "alert" th:if="${member != null && member.emailVerified == false}">
    TechDot 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link"> 계정 인증 이메일을 확인 </a>하세요.
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>