<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body class="bg-light">
<nav th:replace="fragments/navbar.html :: auth-nav"></nav>
<div class="container main-view-container">
    <div class="row justify-content-center py-4">
        <div class="col py-4">
            <nav th:replace="fragments/main-view-category-menu.html :: category-menu(categoryMenu = '')"></nav>
        </div>
        <div class="col-sm-10">
            <div class="row justify-content-center pt-1 pb-3s">
                <div class="col" style="display: flex;">
                    <div>
                        <h1 th:text="'\'' + ${keyword} +'\'' + ' 검색 결과'"></h1>
                    </div>
                </div>
            </div>
            <div class="row post-list" id="post-list">
            </div>
            <!-- Pagination List -->
            <ul class="post-list__pagination post-list__pagination--inactive" id="post-list-pagination"
                style="display: none"></ul>
        </div>

    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>

<script type="text/javascript" th:inline="javascript" th:replace="fragments/ajax-csrf-header.html :: ajax-csrf-header" ></script>
<div type="text/javascript" th:inline="javascript" th:replace="fragments/post-factory.html :: post-factory(requestUrl = '/search/', viewName = ${keyword})" ></div>
</body>

</html>